.root {
  transition: background 0.25s ease, transform 0.25s ease,
    box-shadow 0.5s ease-out;
}

.root::after {
  visibility: hidden;
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  animation: slide 4s infinite;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(128, 186, 232, 0) 90%,
    rgba(125, 185, 232, 0) 100%
  );
}

.root:hover {
  background: var(--background-contrast);
  box-shadow: 0px 2px 8px 2px var(--classification-color, var(--brand-primary));
  transform: scale(1.02);
  animation: cardGlowing 2s infinite;
}
.root:hover::after {
  visibility: visible;
}

.root:active {
  transform: scale(1);
}

.root.class-mammal {
  --classification-color: var(--extra-mammal-primary);
  --classification-color-contrast: var(--extra-mammal-contrast);
}
.root.class-artifical {
  --classification-color: var(--extra-artifical-primary);
  --classification-color-contrast: var(--extra-artifical-contrast);
}
.root.class-sentient {
  --classification-color: var(--extra-sentient-primary);
  --classification-color-contrast: var(--extra-sentient-contrast);
}
.root.class-gastropod {
  --classification-color: var(--extra-gastropod-primary);
  --classification-color-contrast: var(--extra-gastropod-contrast);
}
.root.class-reptile {
  --classification-color: var(--extra-reptile-primary);
  --classification-color-contrast: var(--extra-reptile-contrast);
}
.root.class-amphibian {
  --classification-color: var(--extra-amphibian-primary);
  --classification-color-contrast: var(--extra-amphibian-contrast);
}
.root.class-insectoid {
  --classification-color: var(--extra-insectoid-primary);
  --classification-color-contrast: var(--extra-insectoid-contrast);
}

@keyframes cardGlowing {
  0%,
  100% {
    box-shadow: 0px 2px 8px 2px
      var(--classification-color, var(--brand-primary));
  }
  50% {
    box-shadow: 0px 2px 16px 12px
      var(--classification-color-contrast, var(--brand-contrast));
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  33% {
    transform: translateX(100%);
  }
}
