.container {
  container-type: inline-size;
  container-name: wrapper;
}

.root {
  height: 100%;
  transition: background 0.25s ease, transform 0.25s ease,
    box-shadow 0.5s ease-out;
}

.root::after {
  visibility: hidden;
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  animation: slide 4s infinite;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(128, 186, 232, 0) 90%,
    rgba(125, 185, 232, 0) 100%
  );
}

.root:hover {
  background: var(--background-contrast);
  box-shadow: 0px 2px 8px 2px var(--classification-color, var(--brand-primary));
  transform: scale(1.02);
  animation: cardGlowing 2s infinite;
}
.root:hover::after {
  visibility: visible;
}

.root:active {
  transform: scale(1);
}

.tag {
  background: var(--classification-color, var(--text-xweak));
  color: var(--background-front);
}

div.modal {
  background: var(--background-front);
  max-width: 800px;
}

@keyframes cardGlowing {
  0%,
  100% {
    box-shadow: 0px 2px 8px 2px
      var(--classification-color, var(--brand-primary));
  }
  50% {
    box-shadow: 0px 2px 16px 12px
      var(--classification-color-contrast, var(--brand-contrast));
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  33% {
    transform: translateX(100%);
  }
}

@container wrapper (min-width: 400px) {
  div.root {
    flex-direction: row;
  }

  img.image {
    width: 50%;
  }
}
